*{
    font-family: Special Elite;
}
body{
    background-image: url('https://th.bing.com/th/id/R.8ed194d7a9edec437d0aa44c14a299c9?rik=lZxzJHNadjUNLQ&pid=ImgRaw&r=0');
    background-position: center;
    background-size: cover;
}
#create{
    text-align: center;
    margin-top: 40px;
    font-family: Special Elite;
    background-color: bisque;
    font-size: 4em;
    width: 400px;
    margin: 40px auto;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    line-height: 50px;
}
.classes {
    max-width: 250px;
    max-height: 300px;
}
#userInput{
    background-color: black;
    color: bisque;
}